*{margin: 0; padding: 0; box-sizing: border-box;}
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Grotesque', sans-serif;
    background-color: #c7edff;
}

nav{
    display: flex;
    padding: 30px 50px;
    align-items: center;
    justify-content:space-between;
}
nav .nav-links{
    display: flex;
    justify-content: space-around;
    gap: 20px;
 }